node_modules
dist

# Storybook
*.storybook.log
debug-storybook.log
storybook-static

# Ignore macOS system files
.DS_Store
**/.DS_Store
# Environment variables (never commit)
.env
.env.*
!.env.example
.npmrc
